# Python
__pycache__/
*.py[cod]
*.log

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Lint cache
.ruff_cache/

# Virtualenv
.venv/
venv/
env/

# Environment
.env

# Database
db.sqlite3

# Media files
media/

# Mac
.DS_Store

# IDE
.vscode/
.idea/
