services:

  db:
    image: postgres:15
    container_name: product_db
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: product_redis
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: product_app
    ports:
      - "8000:8000"
      - "5555:5555"   
    env_file:
      - .env
    volumes:
      - media_data:/app/media
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  media_data:
