[tool.black]
line-length = 100
target-version = ["py39"]

[tool.ruff]
line-length = 100
exclude = ["migrations", "__pycache__", "venv", ".venv"]

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = []
